header {
    display: flex;
    flex-direction: row;
      padding: 5rem 5rem;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 150px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  