:root {
  --main-color: rgb(143,66,136);
  --secondary-color:rgb(27,146,146);
  --teritery-color-1:rgb(239,245,247);
  --teritery-color-2:rgb(27,146,146);
  --teritery-color-3:rgb(108,176,172);
  --teritery-color-4:rgb(27,180,116);
}

/* here is an example of how to use these color variables: */
h1 {
  color: var(--main-color);
}





